<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store Application</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <p>This is a common code to All the application</p>
        </div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script>
        $(document).ready(function () {
            //alert("Page Loaded");
        });
    </script>
</body>
</html>
