################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/BookStore/obj
/BookStore/.vs/BookStore/v16
/BookStore/BookStore/bin/Debug/netcoreapp3.1
/BookStore/.vs/BookStore/config
/BookStore/.vs/BookStore/DesignTimeBuild
/BookStore/BookStore/BookStore.csproj.user
/BookStore/BookStore/wwwroot/lib
/BookStore/BookStore/bin/Release/netcoreapp3.1
